@color-text:#333;
@color-high-text:#3ac8a3;
@color-background:#f2f5f8;
@font-size:14px;




.clear-fix::after {
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

